/* colors */

body {
  background: linear-gradient(#333, #666);
  color: #ccc;
}
a {
  color: #ccc;
}
h1,
h2,
h3 {
  color: #fff;
}
header h3 {
  color: #ccc;
}

/* typography */

body,
input {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}
h1,
h2,
h3 {
  font-family: "Lobster", cursive;
  margin: 0.5em 0;
  text-shadow: 4px 4px 0px #000, 6px 6px 0px rgba(54, 54, 54, 0.3);
}
h1 {
  font-size: 4em;
}
h2 {
  font-size: 2em;
  letter-spacing: 0.04em;
}
h3 {
  font-size: 1.5em;
  letter-spacing: 0.03em;
}
header h1 {
  font-size: 11vw;
  margin: 0;
}
header h3 {
  margin: 0;
}
header h3:before,
header h3:after {
  content: " — ";
}
footer {
  font-style: italic;
}

/* app layout */

.app-container {
  padding: 0 0.5em;
  display: flex;
  flex-direction: column;
}
header {
  margin-bottom: 2em;
  margin-top: 0.5em;
  text-align: center;
}
main {
  flex-grow: 1;
}
footer {
  margin-top: 2em;
  margin-bottom: 0.5em;
  text-align: center;
}
.vehicles {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 1000px) {
  .vehicles {
    grid-template-columns: 1fr;
  }
}
